@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.App {
  justify-content: space-between;
  font-family: 'Roboto Condensed', sans-serif;
}
.header {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0;
}
.first__container {
  display: flex;
  padding-bottom: 50px;
}
.third__container, .third__left, .third__right {
  display: flex;
}
.third__right {
  padding: 0 150px;
}
.third__left {
  padding-right: 150px;
}
.third__left div, .third__right div {
  margin-right: 20px;
}
.third__container {
  padding: 50px;
}

/* pfp */
.pfp__img {
  border-radius: 200px;
  width: 250px;
}
.pfp__detail {
  padding: 15px 20px;
}
.skills__pfp {
  display: flex;
}
.skills__pfp div div{
  background-color: rgb(233, 232, 232);
  margin: 5px;
  border-radius: 20px;
  padding: 5px 10px;
}
.skills__pfp-up {
  display: flex;
}
.skills__pfp-down {
  display: flex;
}
.name {
  font-weight: 700;
  font-size: 30px;
}
.link__projects {
  font-weight: 700;
}
.socialMedias__content{
 padding-right: 10px; 
}
.pfp__content {
  margin: 12px 0;
}