.Navbar {
    background-color: #FFF;
    height: 50px;
    font-size: small;
    margin-top: 5px;
    z-index: 10;
}
.no-deco {
    text-decoration: none;
    /* padding-right: 20px; */
    color: black;
    transition: 0.2s;
}
.no-deco:hover {
    color: rgb(2, 139, 202);
}

.logo {
    font-weight: 700;
}
.about {
    font-weight: 500;
}
.navbar__content {
    display: flex;
}
.left__content {
    padding-right: 30px;
}
.right__content {
    padding-top: 2px;
}
